.nav .sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.nav .logo {
    text-align: center;
    margin: 20px 0;
}

.nav .options {
    text-align: center;
    margin-bottom: 15px;
}