.auth {
    width: 400px;
}

.auth .ant-tabs-nav {
    width: 100%;
}

.auth .ant-tabs-nav > div {
    display: flex;
    width: 100%;
}

.auth .ant-tabs-nav .ant-tabs-tab {
    flex: 1;
    text-align: center;
}

.auth input {
    margin-bottom: 20px;
}